.division{
    background-color: black;
    color: white;
    font-size: x-large;
    height: 70px;
    width: 70px;
    padding: 60px;
    border-radius: 100%;
    border: 5px solid gray;
    text-align: center;
    margin: auto;
}

p {
    margin: auto;
    text-align: center;
}